{% block navbar %}

<nav class="navbar navbar-expand-lg bg-body-tertiary bg border border-1 border-dark border-bottom" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="{% url 'home' %}">Schedule Application</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            
          </li>
          <li class="nav-item">
           
          </li>
          <li class="nav-item dropdown">
          
          </li>
          <li class="nav-item">
           
          </li>
        </ul>
      
        <form class="d-flex" role="search" method="POST"> <!--form is appart of the navbar! (14:46)-->
           {% csrf_token %}<!--csrf_token (10:50)-->
          <input class="form-control me-3" type="search" placeholder="New Schedule..." aria-label="Search" name="item"><!--name = item (9:20)-->
          <button class="btn btn-outline-light me-4 display-5 my-2 my-sm-0" type="submit">Submit!</button>
        </form>
      </div>
    </div>
  </nav> 

{% endblock navbar %}